Source: m2tklib
Priority: optional
Maintainer: David Lechner <david@lechnology.com>
Build-Depends: debhelper (>= 9.0.0), libu8g-dev
Standards-Version: 3.9.5
Section: libs
Homepage: https://code.google.com/p/m2tklib/
Vcs-Git: git://github.com/ev3dev-dpkg/m2tklib.git
Vcs-Browser: https://github.com/ev3dev-dpkg/m2tklib

Package: libm2tk-dev
Section: libdevel
Architecture: any
Depends: libm2tk1 (= ${binary:Version}), ${misc:Depends}
Description: Graphical user interface library for embedded systems.
 Graphical toolkit that runs on top of u8glib that provides widgets and stuff.
 .
 This package contains the header files for libm2tk1.

Package: libm2tk1
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Graphical user interface library for embedded systems.
 Graphical toolkit that runs on top of u8glib that provides widgets and stuff.
